# Google Apps Script Web App URL
# Dapatkan URL ini setelah deploy Google Apps Script sebagai Web App.
# Deploy -> New deployment -> Web App
# Execute as: Me
# Who has access: Anyone
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/MASUKKAN_URL_ANDA_DI_SINI/exec
